.head-title{
    box-shadow: 0 2px 10px 1px #9E9E9E;
}
.tab-normal{
    width:50%;
    height:100%;
    text-align: center;
    display:inline-block;
    float: left;
    margin-bottom: 8%;
}
.tab-normal a{
    text-decoration: none;
    color: black;
}
.tab-normal-title{
    width:100%;
    height:12%;
    margin-top: 2%;
}
.tab-normal-title img{
    height:20px;
    margin:0px;
}
.tab-normal-body :hover{
    background-color: #ff5722b8;
}
.tab-normal-body table{
    border:1px solid #ccc;
    width: 100%;
    height: 100%;
}
.tab-normal-body img{
    width:100%;
}